<div class="cuentas">
    <div *ngFor="let cuenta of cuentas" class="cuentas__cuenta">
      <img
        class="cuentas__imagen"
        src="../../assets/noPerfil.png"
        alt="Imagen de perfil"
        (click)="verPerfil(cuenta)"
      />
      <div class="cuentas__contenido">
        <div class="cuentas__nombre" (click)="verPerfil(cuenta)">
          {{ cuenta.nombre }}
        </div>
        <div class="cuentas__descripcion">{{ cuenta.descripcion }}</div>
      </div>
      <button class="cuentas__boton" (click)="toggleFollow(cuenta)">
        {{ cuenta.siguiendo ? 'Siguiendo' : 'Seguir' }}
      </button>
    </div>
  </div>
  