<div class="side-bar">
    <div class="side-bar__logo">
        <img class="side-bar__logo-img" src="" alt="Vibely logo">
    </div>
    <nav class="side-bar__nav">
        <ul class="side-bar__nav-list">
            <li class="side-bar__nav-item">
                <a class="side-bar__nav-link" href="">
                    <img class="side-bar__nav-icon" src="" alt="Icon description">
                    Inicio
                </a>
            </li>
            <li class="side-bar__nav-item">
                <a class="side-bar__nav-link" href="">
                    <img class="side-bar__nav-icon" src="" alt="Icon description">
                    Búsqueda
                </a>
            </li>
            <li class="side-bar__nav-item">
                <a class="side-bar__nav-link" href="">
                    <img class="side-bar__nav-icon" src="" alt="Icon description">
                    Mensajes
                </a>
            </li>
            <li class="side-bar__nav-item">
                <a class="side-bar__nav-link" href="">
                    <img class="side-bar__nav-icon" src="" alt="Icon description">
                    Crear
                </a>
            </li>
            <li class="side-bar__nav-item">
                <a class="side-bar__nav-link" href="">
                    <img class="side-bar__nav-icon" src="" alt="Icon description">
                    Notificaciones
                </a>
            </li>
            <li class="side-bar__nav-item">
                <a class="side-bar__nav-link" href="">
                    <img class="side-bar__nav-icon" src="" alt="Icon description">
                    Perfil
                </a>
            </li>
        </ul>
    </nav>
</div>
