<div class="side-bar">
  <div class="side-bar__menu">
    <div class="side-bar__logo">
      <a class="side-bar__logo-link" routerLink="/home">
        <img class="side-bar__logo-img" src="../../assets/VibelyLogo.jpg" alt="Vibely logo">
      </a>
    </div>

    <nav class="side-bar__nav">
      <ul class="side-bar__nav-list">
        <li class="side-bar__nav-item">
          <a class="side-bar__nav-link" routerLink="/home">
            <img class="side-bar__nav-icon" src="../../assets/home.png" alt="Icono Inicio">
            Inicio
          </a>
        </li>
        <li class="side-bar__nav-item">
          <a class="side-bar__nav-link" routerLink="/search">
            <img class="side-bar__nav-icon" src="../../assets/search.png" alt="Icono Búsqueda">
            Búsqueda
          </a>
        </li>
        <li class="side-bar__nav-item">
          <a class="side-bar__nav-link" routerLink="/messages">
            <img class="side-bar__nav-icon" src="../../assets/messages.png" alt="Icono Mensajes">
            Mensajes
          </a>
        </li>
        <li class="side-bar__nav-item">
          <a class="side-bar__nav-link" data-bs-toggle="modal" data-bs-target="#crearPublicacionModal">
            <img class="side-bar__nav-icon" src="../../assets/upload.png" alt="Icono Crear">
            Crear
          </a>
        </li>
        <li class="side-bar__nav-item">
          <a class="side-bar__nav-link" routerLink="/notifications" routerLinkActive="active-link">
            <img class="side-bar__nav-icon" src="../../assets/notifications.png" alt="Icono Notificaciones">
            Notificaciones
          </a>
        </li>
        <li class="side-bar__nav-item">
          <a class="side-bar__nav-link" routerLink="/profile" routerLinkActive="active-link">
            <img class="side-bar__nav-icon" src="../../assets/profile.png" alt="Icono Perfil">
            Perfil
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="side-bar__toggle">
    <button class="menu-button" (click)="toggleSidebar()"><img src="../../assets/menu.png" alt="☰"></button> 
  </div>
</div>

<div class="modal fade" id="crearPublicacionModal" tabindex="-1" aria-labelledby="crearPublicacionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Encabezado del Modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="crearPublicacionModalLabel">Subir Publicación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <!-- Barra separadora -->
      <hr class="m-0" />

      <!-- Imagen predeterminada o previsualización del archivo seleccionado -->
      <div class="text-center mt-3" *ngIf="!selectedFile">
        <img src="../../assets/imagen.jpg" alt="Imagen predeterminada" class="img-fluid" style="max-height: 150px; object-fit: cover;" />
      </div>

      <div class="text-center mt-3" *ngIf="selectedFile">
        <div *ngIf="isImage">
          <img [src]="previewUrl" alt="Vista previa de la imagen" class="img-fluid" style="max-height: 150px; object-fit: cover;" />
        </div>
        <div *ngIf="isVideo">
          <video [src]="previewUrl" controls class="img-fluid" style="max-height: 150px;"></video>
        </div>
      </div>

      <!-- Barra separadora -->
      <hr class="m-0" />

      <!-- Botón para seleccionar una imagen o video -->
      <div class="text-center mt-3 mb-3">
        <label class="btn btn-primary">
          Seleccionar Imagen/Video
          <input type="file" id="file" (change)="onFileChange($event)" accept="image/*,video/*" hidden />
        </label>
      </div>

      <!-- Segunda Barra separadora -->
      <hr class="m-0" />

      <!-- Cuerpo del Modal -->
      <div class="modal-body">
        <!-- Formulario -->
        <form (ngSubmit)="onSubmit()" class="d-flex justify-content-between align-items-center">
          <!-- Input de texto -->
          <div class="form-group flex-grow-1 me-2">
            <input 
              type="text" 
              id="description" 
              [(ngModel)]="description" 
              name="description" 
              class="form-control" 
              placeholder="Escribe una descripción..." 
              required 
            />
          </div>

          <!-- Botón de enviar -->
          <button type="submit" [disabled]="!selectedFile" class="btn btn-success bg-primary">
            Publicar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

