.profile-publications {
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-publications__main {
        width: 100%;
        padding: 20px;
        overflow: auto;
    }

    .profile-publications__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .profile-publications__post {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgrey;
        width: 250px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.05);
        }

        .profile-publications__post-header {
            display: flex;
            align-items: center;
            padding: 10px;

            .profile-publications__post-profile {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
            }

            .profile-publications__post-data {
                .profile-publications__post-name {
                    font-size: 14px;
                    font-weight: bold;
                    margin: 0;
                }

                .profile-publications__post-date {
                    font-size: 12px;
                    color: #888;
                }
            }
        }

        .profile-publications__post-image {
            display: flex;
            justify-content: center;
            object-fit: cover;

            img {
                width: 100%;
                height: 250px;
                margin-bottom: 20px;
            }
        }
    }
}
    