<div class="stories">
    <header class="header__stories">
      <div class="header__stories-logo">
        <a class="header__stories-logo-link" routerLink="/home">
          <img class="header__stories-logo-img" src="../../assets/VibelyLogo.jpg" alt="Vibely logo">
        </a>
      </div>
      <div class="header__stories-close">
        <a class="header__stories-logo-link-close" routerLink="/home">
          <img class="header__stories-logo-img-close" src="../../assets/cerrar.png" alt="Cerrar">
        </a>
      </div>
    </header>
    
    <main class="main__stories">
      <!-- Botón Anterior -->
      <div class="main__stories-anterior">
        <button type="button" class="main__stories-button" (click)="goToPrevious()">
          <img src="../../assets/anterior.png" alt="Anterior">
        </button>
      </div>
      
      <!-- Imagen de la historia (actual) -->
      <div class="main__stories-story">
        <img [src]="images[currentIndex]" alt="Imagen de la historia">
      </div>
  
      <!-- Botón Siguiente -->
      <div class="main__stories-siguiente">
        <button type="button" class="main__stories-button" (click)="goToNext()">
          <img src="../../assets/siguiente.png" alt="Siguiente">
        </button>
      </div>
    </main>
  </div>
  