<div class="content">
    <div class="side-bar" [ngStyle]="{'height': sidebarHeight}">
        <div class="side-bar__menu">
        <div class="side-bar__logo">
            <a class="side-bar__logo-link" routerLink="/home">
            <img class="side-bar__logo-img" src="../../assets/VibelyLogo.jpg" alt="Vibely logo">
            </a>
        </div>
    
        <nav class="side-bar__nav">
            <ul class="side-bar__nav-list">
            <li class="side-bar__nav-item">
                <a class="side-bar__nav-link" routerLink="/home">
                <img class="side-bar__nav-icon" src="../../assets/home.png" alt="Icono Inicio">
                Inicio
                </a>
            </li>
            <li class="side-bar__nav-item">
                <a class="side-bar__nav-link" routerLink="/search">
                <img class="side-bar__nav-icon" src="../../assets/search.png" alt="Icono Búsqueda">
                Búsqueda
                </a>
            </li>
            <li class="side-bar__nav-item">
                <a class="side-bar__nav-link" routerLink="/messages">
                <img class="side-bar__nav-icon" src="../../assets/messages.png" alt="Icono Mensajes">
                Mensajes
                </a>
            </li>
            <li class="side-bar__nav-item">
                <a class="side-bar__nav-link" data-bs-toggle="modal" data-bs-target="#crearPublicacionModal">
                <img class="side-bar__nav-icon" src="../../assets/upload.png" alt="Icono Crear">
                Crear
                </a>
            </li>
            <li class="side-bar__nav-item">
                <a class="side-bar__nav-link" routerLink="/notifications" routerLinkActive="active-link">
                <img class="side-bar__nav-icon" src="../../assets/notifications.png" alt="Icono Notificaciones">
                Notificaciones
                </a>
            </li>
            <li class="side-bar__nav-item">
                <a class="side-bar__nav-link" routerLink="/profile" routerLinkActive="active-link">
                <img class="side-bar__nav-icon" src="../../assets/profile.png" alt="Icono Perfil">
                Perfil
                </a>
            </li>
            </ul>
        </nav>
        </div>
        <div class="side-bar__toggle">
          <button class="menu-button" (click)="toggleSidebar()"><img src="../../assets/menu.png" alt="☰"></button> 
        </div>
    </div>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
</div>


  <div class="modal fade" id="crearPublicacionModal" tabindex="-1" aria-labelledby="crearPublicacionModalLabel" aria-hidden="true">
    <app-create></app-create>
  </div>
  
