<div class="cuentas">
    <div class="cuentas__cuenta">
      <img class="cuentas__imagen" src="../../assets/noPerfil.png" alt="Imagen de perfil" />
      <div class="cuentas__contenido">
        <div class="cuentas__nombre">Nombre de Perfil</div>
        <div class="cuentas__descripcion">Descripción breve del perfil</div>
      </div>
      <button class="cuentas__boton">Seguir</button>
    </div>
    <div class="cuentas__cuenta">
      <img class="cuentas__imagen" src="../../assets/noPerfil.png" alt="Imagen de perfil" />
      <div class="cuentas__contenido">
        <div class="cuentas__nombre">Nombre de Perfil</div>
        <div class="cuentas__descripcion">Descripción breve del perfil</div>
      </div>
      <button class="cuentas__boton">Seguir</button>
    </div>
    <div class="cuentas__cuenta">
      <img class="cuentas__imagen" src="../../assets/noPerfil.png" alt="Imagen de perfil" />
      <div class="cuentas__contenido">
        <div class="cuentas__nombre">Nombre de Perfil</div>
        <div class="cuentas__descripcion">Descripción breve del perfil</div>
      </div>
      <button class="cuentas__boton">Seguir</button>
    </div>
    <div class="cuentas__cuenta">
      <img class="cuentas__imagen" src="../../assets/noPerfil.png" alt="Imagen de perfil" />
      <div class="cuentas__contenido">
        <div class="cuentas__nombre">Nombre de Perfil</div>
        <div class="cuentas__descripcion">Descripción breve del perfil</div>
      </div>
      <button class="cuentas__boton">Seguir</button>
    </div>
    <div class="cuentas__cuenta">
      <img class="cuentas__imagen" src="../../assets/noPerfil.png" alt="Imagen de perfil" />
      <div class="cuentas__contenido">
        <div class="cuentas__nombre">Nombre de Perfil</div>
        <div class="cuentas__descripcion">Descripción breve del perfil</div>
      </div>
      <button class="cuentas__boton">Seguir</button>
    </div>
  </div>