.publi__modal {
    padding: 0;
}

.publi__modal-dialog {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.publi__modal-dialog-custom {
    max-width: 70%;
    margin: 1.75rem auto;
}

.publi__modal-body {
    display: flex;
}

.publi__modal-left {
    width: 80%;
    height: 70vh;
    border-right: 1px solid lightgray;
}

.publi__modal-image {
    padding: 0%;
    height: 100%;
}

.publi__modal-comment-input {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.publi__modal-comment-button {
    background-color: #227B94;
    border: none;

    &-img {
        width: 25px;
        height: 25px;
    }
}

.publi__modal-comments-list {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
}

.publi__modal-comment-username {
    font-weight: bold;
}