.stories {
    // Aquí van los estilos generales para la clase "stories"
    background-color: #001F3F;
    flex-grow: 1;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .header__stories {
    // Estilos para el encabezado de las historias
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header__stories-logo {
    // Estilos para el logo de las historias
    width: 50%;
  }
  
  .header__stories-logo-link {
    // Estilos para el enlace del logo
    width: 25%;
  }
  
  .header__stories-logo-img {
    // Estilos para la imagen del logo
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
  
  .header__stories-close {
    // Estilos para el contenedor del botón de cerrar
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: end;
    padding-right: 1rem;

    img{
        min-width: 100px;
    }
  }
  
  .main__stories {
    // Estilos para el contenedor principal de las historias
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 80vh;
  }
  
  .main__stories-anterior {
    // Estilos para el contenedor del botón "anterior"
    width: 10%;
    display: flex;
    justify-content: start;
  }
  
  .main__stories-button {
    // Estilos para los botones de navegación
    background: none;
    border: none;
  }
  
  .main__stories-story {
    // Estilos para la imagen de la historia
    width: 500px;

    .main__stories-header{
      display: flex;
      gap: 1.5rem;
      color: white;
      align-items: center;

      .img-profile{
        border-radius: 100%;
        width: 50px;
        height: 50px;
      }

      .main__stories-data{
        display: flex;
        flex-direction: column;
      }

      .main__stories-name{
        font-weight: bold;
        font-size: 20px;
      }
    }

    .img-story{
        height: 700px;
        width: 100%;
    }
  }
  
  .main__stories-siguiente {
    // Estilos para el contenedor del botón "siguiente"
    display: flex;
    justify-content: end;
    width: 10%;
  }
  