<header>
    <div class="">
        <a class="side-bar__logo-link" routerLink="/home">
            <img class="side-bar__logo-img" src="../../assets/VibelyLogo.jpg" alt="Vibely logo">
        </a>
    </div>
    <div class="">
        <a class="side-bar__logo-link" routerLink="/home">
            <img class="side-bar__logo-img" src="../../assets/cerrar.png" alt="Cerrar">
        </a>
    </div>
</header>
<main class="main__stories">
    <div class="main__stories-anterior">
        <button type="button" class="">
            <img src="../../assets/anterior.png">
        </button>
    </div>
    <div class="main__stories-story">
        <img src="../../assets/ejemplo4.jpg" alt="">
    </div>
    <div class="main__stories-siguiente">
        <button type="button" class="">
            <img src="../../assets/siguiente.png">
        </button>
    </div>
</main>