<div class="profile-publications">
    <main class="profile-publications__main">
        <div class="profile-publications__grid">
            <div class="profile-publications__post" *ngFor="let post of publicaciones; let i = index">
                <div class="profile-publications__post-header">
                    <img class="profile-publications__post-profile" src="../../assets/noPerfil.png" alt="foto perfil">
                    <div class="profile-publications__post-data">
                        <p class="profile-publications__post-name">{{ post.name }}</p>
                        <p class="profile-publications__post-date">{{ post.date }}</p>
                    </div>
                    <div class="profile-publications__post-menu">
                        <button class="delete-btn" (click)="openDeleteModal(i)"><img src="../../../assets/menu2.png"></button>
                    </div>
                </div>
                <div class="profile-publications__post-image">
                    <img class="profile-publications__post-img" src="{{ post.img }}" alt="post">
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Ventana emergente de confirmación -->
<div *ngIf="showModal" class="modal">
    <div class="modal-content">
        <p>¿Estás seguro de que deseas eliminar esta publicación?</p>
        <button (click)="deletePost()">Sí</button>
        <button (click)="closeDeleteModal()">No</button>
    </div>
</div>
