<div class="messages-container" [ngStyle]="{'height': height}">

    <div class="messages-list">
        <div class="messages-list__item" *ngFor="let conversation of conversations" (click)="selectConversation(conversation)">
            <img class="messages-list__profile-img" [src]="conversation.profileImg" alt="User profile">
            <div class="messages-list__info">
                <p class="messages-list__name">{{ conversation.name }}</p>
                <p class="messages-list__preview">{{ conversation.lastMessage }}</p>
            </div>
        </div>
    </div>

    <div class="messages-chat" *ngIf="selectedConversation">
        <div class="messages-chat__header">
            <h3>{{ selectedConversation.name }}</h3>
        </div>

        <div class="messages-chat__body">
            <div class="messages-chat__messages">
                <div *ngFor="let message of selectedConversation.messages" class="messages-chat__message">
                    <p><strong>{{ message.sender }}:</strong> {{ message.text }}</p>
                </div>
            </div>
        </div>

        <div class="messages-chat__footer">
            <input [(ngModel)]="newMessage" type="text" placeholder="Escribe tu mensaje...">
            <button (click)="sendMessage()"><img src="../../assets/messages.png"></button>
        </div>
    </div>
</div>

