.messages-container {
    display: flex;
    height: 100vh;

    .messages-list {
        width: 30%;
        background-color: #3A6D8C;
        padding: 20px;
        overflow-y: auto;
        border-right: 1px solid #ccc;

        .messages-list__item {
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ddd;
            transition: background-color 0.2s;

            &:hover {
                background-color: #2e566e;
            }

            .messages-list__profile-img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }

            .messages-list__info {
                .messages-list__name {
                    font-weight: bold;
                }

                .messages-list__preview {
                    color: white;
                    font-size: 14px;
                }
            }
        }
    }

    .messages-chat {
        width: 70%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: #fff;

        .messages-chat__header {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .messages-chat__body {
            flex-grow: 1;
            overflow-y: auto;
            margin-bottom: 20px;

            .messages-chat__messages {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .messages-chat__message {
                padding: 10px;
                background-color: #f0f0f0;
                border-radius: 5px;
                max-width: 70%;
                word-wrap: break-word;
            }
        }

        .messages-chat__footer {
            display: flex;
            gap: 10px;

            input {
                flex-grow: 1;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
            }

            button {
                padding: 10px 20px;
                background-color: #227B94;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #16325B;
                }
            }
        }
    }
}
