<div class="profile-container">
  <div class="cabecera-principal">
    <div class="perfil-info">
      <div class="foto-perfil">
        <img src="../../assets/ejemplo2.jpg">
      </div>

      <div class="usuario-info">
        <h2>{{ usuario.nombre }}</h2>
        <p>{{ usuario.descripcion }}</p>
      </div>

      <div class="estadisticas">
        <div class="estadistica">
          <p>Publicaciones</p>
          <h3>{{ usuario.publicaciones }}</h3>
        </div>
        <div class="estadistica">
          <p>Seguidores</p>
          <h3>{{ usuario.seguidores }}</h3>
        </div>
        <div class="estadistica">
          <p>Seguidos</p>
          <h3>{{ usuario.seguidos }}</h3>
        </div>
      </div>

      <div class="acciones">
        <button class="compartir-btn">Compartir</button>
      </div>
    </div>
  </div>

  <div class="cabecera-navegacion">
    <a routerLink="/profile/publicaciones" routerLinkActive="activo">
      <img src="../../assets/profile.png">  
    </a>
    <a routerLink="/profile/comunidades" routerLinkActive="activo">
      <img src="../../assets/community.png">      
    </a>
  </div>

  <router-outlet></router-outlet>
</div>
