.comunidades {
    padding: 20px;

    ul{
      list-style: none;
    }
  
    h3 {
      font-size: 24px;
    }
  
    li {
      margin-bottom: 15px;
      padding: 10px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid lightgray;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    .unirse-btn {
      background-color: #227B94;
      color: white;
      padding: 8px 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #16325B;
      }
    }
  }
  