<div class="main">
    <div class="main__search">
        <form class="main__search-form">
            <input class="main__search-bar" type="text" placeholder="Buscar">
            <button class="main__search-submit" type="button"><img src="../../assets/search.png"></button>
        </form>
        <div class="main__button_group">
            <button class="main__button_group-button"><a routerLink="/search/posts">Publicaciones</a></button>
            <button class="main__button_group-button"><a routerLink="/search/profiles">Cuentas</a></button>
            <button class="main__button_group-button"><a routerLink="/search/communitys">Comunidades</a></button>
        </div>
        <div class="main__content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
