<div class="comunidades">
    <div class="comunidades__comunidad">
        <img class="comunidades__imagen" src="../../assets/noFoto.png" alt="Imagen de la comunidad" />
        <div class="comunidades__contenido">
          <div class="comunidades__nombre">Nombre de la Comunidad</div>
          <div class="comunidades__descripcion">Descripción breve de la comunidad</div>
          <div class="comunidades__miembros">123 miembros</div>
          <div class="comunidades__cards">
            <div class="comunidades__card">Harry potter</div>
            <div class="comunidades__card">Ron</div>
          </div>
        </div>
        <button class="comunidades__boton">Unirse</button>
      </div>
    <div class="comunidades__comunidad">
      <img class="comunidades__imagen" src="../../assets/noFoto.png" alt="Imagen de la comunidad" />
      <div class="comunidades__contenido">
        <div class="comunidades__nombre">Nombre de la Comunidad</div>
        <div class="comunidades__descripcion">Descripción breve de la comunidad</div>
        <div class="comunidades__miembros">123 miembros</div>
        <div class="comunidades__cards">
          <div class="comunidades__card">Harry potter</div>
          <div class="comunidades__card">Ron</div>
        </div>
      </div>
      <button class="comunidades__boton">Unirse</button>
    </div>
    <div class="comunidades__comunidad">
      <img class="comunidades__imagen" src="../../assets/noFoto.png" alt="Imagen de la comunidad" />
      <div class="comunidades__contenido">
        <div class="comunidades__nombre">Nombre de la Comunidad</div>
        <div class="comunidades__descripcion">Descripción breve de la comunidad</div>
        <div class="comunidades__miembros">123 miembros</div>
        <div class="comunidades__cards">
          <div class="comunidades__card">Harry potter</div>
          <div class="comunidades__card">Ron</div>
        </div>
      </div>
      <button class="comunidades__boton">Unirse</button>
    </div>
    <div class="comunidades__comunidad">
      <img class="comunidades__imagen" src="../../assets/noFoto.png" alt="Imagen de la comunidad" />
      <div class="comunidades__contenido">
        <div class="comunidades__nombre">Nombre de la Comunidad</div>
        <div class="comunidades__descripcion">Descripción breve de la comunidad</div>
        <div class="comunidades__miembros">123 miembros</div>
        <div class="comunidades__cards">
          <div class="comunidades__card">Harry potter</div>
          <div class="comunidades__card">Ron</div>
        </div>
      </div>
      <button class="comunidades__boton">Unirse</button>
    </div>
    <div class="comunidades__comunidad">
      <img class="comunidades__imagen" src="../../assets/noFoto.png" alt="Imagen de la comunidad" />
      <div class="comunidades__contenido">
        <div class="comunidades__nombre">Nombre de la Comunidad</div>
        <div class="comunidades__descripcion">Descripción breve de la comunidad</div>
        <div class="comunidades__miembros">123 miembros</div>
        <div class="comunidades__cards">
          <div class="comunidades__card">Harry potter</div>
          <div class="comunidades__card">Ron</div>
        </div>
      </div>
      <button class="comunidades__boton">Unirse</button>
    </div>
  </div>
