.home {
    display: flex;
    flex-direction: row;
    max-height: 100vh;

    .home__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        max-height: 100vh;
        gap: 20px;
        padding: 20px;
        width: 100%;
        overflow: hidden;
    }

    .home__main:hover {
        overflow: auto;
    }

    .home__main::-webkit-scrollbar {
        width: 4px;
    }

    .home__main::-webkit-scrollbar-thumb {
        background-color: #3A6D8C;
    }

    .home__post {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgrey;
        width: 50%;
        border-radius: 20px;
        min-width: 350px;
        

        &:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .home__post-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 2px;
        }

        .home__post-profile {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: 5px;
            margin-right: 10px;
            cursor: pointer;
        }

        .home__post-data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 7px;
        }

        .home__post-name {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }

        .home__post-date {
            font-size: 12px;
            color: #888;
        }

        .home__post-image {
            display: flex;
            flex-direction: column;
            cursor: pointer;

            .home__post img {
                width: 100%;
                max-height: 300px;
                cursor: pointer;
            }

            .home__post-buttons {
                display: flex;
                flex-direction: row;
                justify-content: start;
                margin-left: 5px;
                gap: 10px;
            }

            .home__post-button {
                width: 30px;
                height: 30px;
                transition: transform 0.2s ease;

                &:hover {
                    transform: scale(1.3);
                    cursor: pointer;
                }
            }
        }

        .home__post-footer {
            display: flex;
            flex-direction: column;
            padding: 10px;

            .home__post-description {
                font-size: 14px;
                color: black;
            }

            .home__post-hashtags {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 2px;
                list-style: none;
                margin: auto;

                .home__post-hashtag {
                    font-size: 10px;
                    color: #fff;
                    background-color: #6A9AB0;
                    padding: 5px 10px;
                    border-radius: 5px;
                }

                .home__post-hashtag:hover {
                    cursor: pointer;
                    background-color: #3A6D8C;
                }
            }
        }
    }

    .home__stories {
        width: 15%;
        background-color: #001F3F;
        min-height: 100vh;
        min-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden auto;
        padding-top: 2rem;
        gap: 1rem;

        .home__stories-list {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 0;
            list-style: none;
        }

        .home__stories-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.05);
            }
        }

        .home__stories-image {
            width: 50%;
            height: 80px;
            min-width: 80px;
            border-radius: 50%;
            cursor: pointer;
        }

        .home__stories-name {
            font-size: 16px;
            text-align: center;
            color: white;
        }
    }
}

@media (max-width: 768px) {
    .home__stories{
        background-color: #6A9AB0;

    }
}
