<div class="home">
    <main class="home__main">
        <div class="home__post">
            <div class="home__post-header">
                <img class="home__post-profile" src="../../assets/noPerfil.png" alt="foto perfil">
                <div class="home__post-data">
                    <p class="home__post-name">ejemplo</p>
                    <p class="home__post-date">hace 2 dias - Sevilla</p>
                </div>
            </div>
            <div class="home__post-image">
                <img class="home__post-img" src="../../assets/ejemplo4.jpg" alt="post">
                <div class="home__post-buttons">
                    <img class="home__post-button" src="../../assets/like.png">
                    <img class="home__post-button" src="../../assets/comments.png">
                    <img class="home__post-button" src="../../assets/share.png">
                </div>
            </div>
            <div class="home__post-footer">
                <p class="home__post-description">En un concurso de disfraces</p>
                <ul class="home__post-hashtags">
                    <li class="home__post-hashtag">harry potter</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                </ul>
            </div>
        </div>
        <div class="home__post">
            <div class="home__post-header">
                <img class="home__post-profile" src="../../assets/noPerfil.png" alt="foto perfil">
                <div class="home__post-data">
                    <p class="home__post-name">ejemplo</p>
                    <p class="home__post-date">hace 2 dias - Sevilla</p>
                </div>
            </div>
            <div class="home__post-image">
                <img class="home__post-img" src="../../assets/ejemplo6.jpg" alt="post">
                <div class="home__post-buttons">
                    <img class="home__post-button" src="../../assets/like.png">
                    <img class="home__post-button" src="../../assets/comments.png">
                    <img class="home__post-button" src="../../assets/share.png">
                </div>
            </div>
            <div class="home__post-footer">
                <p class="home__post-description">En un concurso de disfraces</p>
                <ul class="home__post-hashtags">
                    <li class="home__post-hashtag">harry potter</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                </ul>
            </div>
        </div>
        <div class="home__post">
            <div class="home__post-header">
                <img class="home__post-profile" src="../../assets/noPerfil.png" alt="foto perfil">
                <div class="home__post-data">
                    <p class="home__post-name">ejemplo</p>
                    <p class="home__post-date">hace 2 dias - Sevilla</p>
                </div>
            </div>
            <div class="home__post-image">
                <img class="home__post-img" src="../../assets/ejemplo5.jpg" alt="post">
                <div class="home__post-buttons">
                    <img class="home__post-button" src="../../assets/like.png">
                    <img class="home__post-button" src="../../assets/comments.png">
                    <img class="home__post-button" src="../../assets/share.png">
                </div>
            </div>
            <div class="home__post-footer">
                <p class="home__post-description">En un concurso de disfraces</p>
                <ul class="home__post-hashtags">
                    <li class="home__post-hashtag">harry potter</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                    <li class="home__post-hashtag">ermione</li>
                </ul>
            </div>
        </div>
    </main>
    <div class="home__stories">
        <ul class="home__stories-list">
            <li class="home__stories-item">
                <img class="home__stories-image" src="../../assets/noPerfil.png" alt="perfil del dueño de la historia">
                <p class="home__stories-name">ejemplo</p>
            </li>
            <li class="home__stories-item">
                <img class="home__stories-image" src="../../assets/noPerfil.png" alt="perfil del dueño de la historia">
                <p class="home__stories-name">ejemplo</p>
            </li>
            <li class="home__stories-item">
                <img class="home__stories-image" src="../../assets/noPerfil.png" alt="perfil del dueño de la historia">
                <p class="home__stories-name">ejemplo</p>
            </li>
        </ul>
    </div>
</div>
