<div class="content">
    <div class="content__notifications-list">
        <div class="content__notification">
            <img class="content__notification-image" src="../../assets/notifications.png" alt="Icono de notificación">
            <div class="content__notification-data">
                <p class="content__notification-type">Nuevo seguidor</p>
                <p class="content__notification-description">Te ha empezado a seguir Carlos</p>
            </div>
        </div>
        <div class="content__notification">
            <img class="content__notification-image" src="../../assets/notifications.png" alt="Icono de notificación">
            <div class="content__notification-data">
                <p class="content__notification-type">Nuevo seguidor</p>
                <p class="content__notification-description">Te ha empezado a seguir Carlos</p>
            </div>
        </div>
        <div class="content__notification">
            <img class="content__notification-image" src="../../assets/notifications.png" alt="Icono de notificación">
            <div class="content__notification-data">
                <p class="content__notification-type">Nuevo seguidor</p>
                <p class="content__notification-description">Te ha empezado a seguir Carlos</p>
            </div>
        </div>
        <div class="content__notification">
            <img class="content__notification-image" src="../../assets/notifications.png" alt="Icono de notificación">
            <div class="content__notification-data">
                <p class="content__notification-type">Nuevo seguidor</p>
                <p class="content__notification-description">Te ha empezado a seguir Carlos</p>
            </div>
        </div>
        <div class="content__notification">
            <img class="content__notification-image" src="../../assets/notifications.png" alt="Icono de notificación">
            <div class="content__notification-data">
                <p class="content__notification-type">Nuevo seguidor</p>
                <p class="content__notification-description">Te ha empezado a seguir Carlos</p>
            </div>
        </div>
        <div class="content__notification">
            <img class="content__notification-image" src="../../assets/notifications.png" alt="Icono de notificación">
            <div class="content__notification-data">
                <p class="content__notification-type">Nuevo seguidor</p>
                <p class="content__notification-description">Te ha empezado a seguir Carlos</p>
            </div>
        </div>
        <div class="content__notification">
            <img class="content__notification-image" src="../../assets/notifications.png" alt="Icono de notificación">
            <div class="content__notification-data">
                <p class="content__notification-type">Nuevo seguidor</p>
                <p class="content__notification-description">Te ha empezado a seguir Carlos</p>
            </div>
        </div>
    </div>
</div>

